name: Generate Pacman Maze Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate Pacman Maze
        uses: Platane/snk@v3
        with:
          github_user_name: NikhilRathod-1305
          outputs: |
            dist/pacman-contribution-graph.svg?animation=maze&palette=github
            dist/pacman-contribution-graph-dark.svg?animation=maze&palette=github-dark

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
