name: Generate Pacman Heatmap

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install

      - name: Generate SVG
        run: node scripts/generate-pacman.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Push to output branch
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout -B output
          git add pacman-contribution-graph.svg
          git commit -m "Update Pacman Heatmap" || echo "No changes"
          git push origin output --force
